<nav class = "navbar navbar-expand-sm navbar-light fixed-top" id="myTopNav">
  <a class="navbar-brand" href="/">Lana Kashino</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto" >
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/projects">Projects</a>
      <a class="nav-item nav-link" href="/experiences">Experiences</a>
      <a class="nav-item nav-link" href="/education">Education</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="social-medias">
    <a href="mailto:lanakashino@gmail.com"
    ><i class="fas fa-envelope fa-lg"></i
    ></a>
    <a href="https://www.linkedin.com/in/lanakashino/"
    ><i class="fab fa-linkedin fa-lg"></i
    ></a>
    <a href="https://github.com/lanakashino"
    ><i class="fab fa-github-alt fa-lg"></i
    ></a>
  </div>
</footer>



