#initials {
  text-align: center;
  width: 100%;
  color: #cdcdcd;
  margin-top: 7em;
  margin-bottom: 1em;
  font-family: Helvetica;
}

img {
  width: 175px;
  opacity: 100%;
  padding-bottom: 7em;
  padding-top: 10em;
}

