<!--<header><h4 id="initials">LK</h4></header>-->
<div class="center-content"><img src="assets/images/profile3.jpg"></div>
<div class="intro">
  <h1>
    Lana Kashino
  </h1>
  <div>
    <p>
      Currently a 4th year computer science student, previously completed a B.Sc. in Honours
      Biophysics at the University of British Columbia. I am particularly interested in
      the fields of computer vision and medical physics. Looking for exciting opportunities where I can integrate
      my computing and biophysics background and continuously be challenged and learn from my peers and mentors.
      Also a martial artistist, foodie, craft beer and coffee enthusiast.
    </p>
  </div>
</div>
